.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 7;
  background-color: #fff;
  border-bottom: 1px solid $body-color;
  border-radius: 0;

  overflow: hidden;

  height: 64px;
  transition: all 0.25s ease-in-out;

  &--expand {
    height: 100%;
    border-bottom: 1px solid #fff;
  }
}
