@charset 'UTF-8';

@import 'bootstrap/bootstrap';

.Section {
  @extend .container;
  margin: 2rem auto;
}

.GoogleMap {
  width: 100%;
  max-width: 72.25rem;
}

.BanksyPanda {
  width: 100%;
  max-width: 400px;
}

.Error-heading {
  @extend h4;
}

.Error-reason {
  @extend p;
  margin-bottom: 2rem;
}

.Error-list {
  list-style: none;
  padding-left: 0;
}
