/**
 * Style Guide: http://codeguide.co/#css
 *
 * Declaration order
 * 1. Positioning
 * 2. Box model
 * 3. Typographic
 * 4. Visual
 *
 */

@charset 'UTF-8';

// External Imports
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600');

// Internal Imports
$font-family-sans-serif: 'Open Sans', sans-serif !default;
@import '~bootstrap/scss/bootstrap.scss';

// Objects
@import 'inputs';
@import 'table';
@import 'images';
@import 'spinner';
@import 'float-label';

// Components
@import 'error';
@import 'header';
@import 'nav';
@import 'session';
@import 'bmw';

// Utility
@import 'utility';

// Bootstrap Overrides

// When columns are stacked
// Add a bottom margin
// XS and S
.col-xs-12 {
  margin-bottom: 0.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-group {
  &:last-of-type {
    margin-bottom: 0;
  }
}

// Body

body {
  font-weight: 300;
}

// Main Content and Body

main,
.main {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 64px;
  right: 0;
  left: 0;
}

// Section

section,
.section {
  @extend .container;
  padding: 0.9375rem;

  &--fluid {
    padding: 0;
  }
}

// Responsive media queries
@import 'responsive';
