@charset 'UTF-8';

@import 'bootstrap/bootstrap';

.Section {
  @extend .container;
  margin: 0.9375rem auto;
}

.GoogleMap {
  width: 100%;
  max-width: 60rem;
}

.Chart {
  width: 100%;
  height: 400px;
}

.BanksyPanda {
  width: 100%;
}
